/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styles used for app
  App styles written by Paul Chatterton */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem; /* =14px */
  font-family: sans-serif;
}

.clear {
	clear: both;
}

.main-container {
  width: 100%;
  height: 100%;
}

/********** header styles **********/
.header-wrapper {
  background: #293642;
  background-image: url('images/bg02.png');
  height: 55px;
  width: 100%;
}

.header-container {
  width: 1000px;
  color: #FDFDFD;
  margin: auto auto;
}

.header-wrapper h1{
  font-size: 3.4rem;  /* = px */
}

.logo-title {
  width: 340px;
  float: left;
  margin-top: 10px;
}

.right-nav {
  width: 500px;
  height: 55px;
  float: right;
  position: relative;
}

.user-loggedin-info {
  float: right;
  width: 150px;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.4rem;
}

.user-loggedin-info .votes-remaining {
/*  color: red;*/
  margin-top: 10px;
}

.right-nav:after {
  clear:both;
}

.right-nav ul {
  position: absolute;
  right: 0px;
}

.right-nav ul > li:hover {
  background-color: #1a222a;
  cursor: pointer;
  cursor: hand; 
}

.right-nav ul > li.active {
  background-color: #384a5a;
}

.right-nav li{
  display: inline-block;
  height: 55px;
  width: 100px;
  padding-top: 18px;
  border-left: 1px solid #384a5a;
  border-right: 1px solid #191919;
  text-align: center;
  float:left;
}

.right-nav li:nt-child(4) {
  margin-right: 0px;
}

.right-nav a {
  color: white;
  text-decoration: none;
}


/********** main content styles **********/

.main-content-wrapper {
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 18px 20px -20px #1F3627;
  -moz-box-shadow: inset 0 18px 20px -20px #1F3627;
  box-shadow: inset 0 18px 20px -20px #1F3627;
  margin-top: 5px;
}

.main-content-container {
  width: 1000px;
  min-height: 500px;
  margin: 0 auto 0 auto;
}

.main-content-container div.ng-enter            {
	    -webkit-animation:fadein 1.0s both ease;
		-moz-animation:fadein 1.0s both ease;
		animation:fadein 1.0s both ease;
}

.main-content-container div.ng-leave            {
    -webkit-animation:fadeout 0.2 both ease;
	-moz-animation:fadeout 0.2 both ease;
	animation:fadeout 0.2 both ease;
}

.main-content-container .nav-pills {
  margin-left: 720px;
}

.main-content-container .nav li{
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

.main-content-container .nav > li > a {
  padding: 10px 20px;
}

.home-content-container {
  width: 950px;
  height: 500px;
  margin: 10px auto 0px auto;
  background-color: white;
  padding: 2px;
}

.top-section {
  padding-top: 10px;
	position: relative;
}

.signup-btn a{
  background-color: #A80816;
  color: white;
}

li.signup-btn a:hover{
  background-color: #A80816;
}

/*Login forms*/
.home-login-container {
  margin-top: 50px;
}

.home-login-container input {
  border: solid 1px #428bca;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 2px;
  height: 28px;
}

.home-login-container input:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.home-login-container button {
  background-color:#428bca;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  position: absolute;
  right: 0px;
  margin-right: 50px;
}

.home-login-container button:active {
  background-color:#378de5;
}

.home-login-container button:focus {
  outline: none;
}

.login-admin-container {
  width: 350px;
  height: 400px;
  background-color: #f6f6f6;
  float: left;
  margin-left: 100px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
  position: relative;
}

.login-event-container {
  width: 350px;
  height: 400px;
  background-color: #f6f6f6;
  float: right;
  margin-right: 100px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
  position: relative;
}

.home-login-container h2 {
  font-size: 2.0rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.home-login-container .details {
  font-style: italic;
  margin-bottom: 15px;
  color: #293642;
}

.home-login-container .frm-label {
  font-size: 1.8rem;
  color: #293642;
  margin-top: 10px;
}

.form-field {
   border: 1px solid #c9b7a2;
   background: #fff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:2px;
   margin-top: 5px;
   margin-bottom:15px;
   width:280px;
}

.home-login-container .bot-details {
  margin-top: 50px;
}

.admin-signup-container {
  width: 600px;
  height: 460px;
  background-color: #f6f6f6;
  margin: 50px auto 0 auto;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
  position: relative;
}

.admin-signup-container h2 {
  font-size: 2.0rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.admin-signup-container .details {
  font-style: italic;
  margin-bottom: 15px;
  color: #293642;
}

.admin-signup-container .frm-label {
  font-size: 1.8rem;
  color: #293642;
  margin-top: 10px;
}

.admin-signup-container input {
  border: solid 1px #428bca;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 2px;
  height: 28px;
}

.admin-signup-container input:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.admin-signup-container button {
  background-color:#428bca;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  position: absolute;
  right: 0px;
  margin-right: 50px;
}

.admin-signup-container button:active {
  background-color:#378de5;
}

.admin-signup-container button:focus {
  outline: none;
}

.admin-signup-container .form-field {
     margin-bottom:5px;
}

.frm-error-message {
  height: 22px;
  color: red;
}

/*ADMIN PAGE STYLES */
.admin-main {
	height: 550px;
}

.admin-top-menu {
  margin-top: 15px;
}

.admin-top-menu .admin-name-email {
	float: left;
  color: #81A7CF;
}

.admin-top-menu .admin-menu {
	float: right;
}

.admin-menu li{
	display: inline-block;
	padding: 0 10px 0 12px;
	border-left: solid thin #293642;
}

.admin-menu a {
  color: #81A7CF;
}

li.events-border {
	border-left: none;
}

.admin-content-wrapper {
	margin-top: 5px;
  padding-top: 15px;
	min-height: 550px;
  border-top: solid 2px #81A7CF;
}

/*EVENT PAGE STYLES */
.event-left-column {
	width: 210px;
	float: left;
}

.event-main-content {
	float: left;
  padding-left: 10px;
}

.noEvent {
	text-align: center;
  margin-top: 50px;
  margin-left: 50px;
}

.noEvent h1 {
	font-size: 4.0rem;
  color: #81A7CF;
}

.noEvent button {
  background-color:#428bca;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:140px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  margin-top: 30px;
}

.noEvent button:hover {
  background-color:#378de5;
}

.event-left-column-top .btn {
  width: 100%;
}

.event-left-column-top .dropdown ul {
  width: 100%;
}

.event-left-column-top .btn:hover {
  background-color: #3b7db5;
}

.event-left-column-top .btn:focus {
  background-color: #428bca;
  color: white;
}

.event-left-column-top .btn span.caret {
  position: absolute;
  right: 9px;
  top: 15px;
}

.event-left-column-top p {
  margin-top: 5px;
  padding-bottom: 40px;
}

.event-left-column-top p a {
  color: #3b7db5;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  cursor: hand; 
}

.event-left-column .event-menu .btn-group-vertical {
  width: 210px;
}

.event-left-column .event-menu .btn {
  border: 1px solid #428bca;
  padding-top: 15px;
  padding-bottom: 15px;
}

.event-left-column .event-menu .btn:hover {
  background-color: #d9e7f4;
}

.event-left-column .event-menu .btn:focus {
background-color: #ecf3f9;
}

.create-event-wrapper {
  margin-left: 50px;
  height: 350px;
  padding: 5px 5px 5px 5px;
  background-color: #f6f6f6;
  float: left;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.create-event-wrapper h2 {
  font-size: 1.8rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.create-event-frm {
  position: relative;
}

.create-event-wrapper button {
  background-color:#428bca;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  position: absolute;
  right: 0px;
  margin-right: 50px;
}

.event-summary-details {
  width: 65%;
  height: 80px;
  float: left;
  margin-left: 20px;
}

.admin-prizes-wrapper h2{
  width: 80%;
  margin-left: 20px;
  margin-bottom: 25px;
}
.admin-prizes-wrapper h2, .event-summary-details h2 {
  font-size: 3.0rem;
  color: #428bca;
}

.admin-prizes-wrapper .admin-prizes-list .active {
  background-color: #d9e7f4;
}

.event-summary-status {
  width: 28%;
  float: right;
  height: 80px;
}

.event-status-text {
  float: left;
  width: 20px;
  font-size: 1.6rem;
  padding-top: 5px;
  color: #428bca;
}

.event-summary-status .btn-group {
  float: right;
  width: 142px;
}

.event-summary-status .btn-group .btn{
  font-size: 1.4rem;
  padding: 2px 4px;
}

.event-summary-status .btnEnabledOn {
  background-color: #3c948b;
  color: white;
  border-color: #3c948b; 
}

.event-summary-status .btnEnabledOn:hover {
  background-color: #3c948b;
  opacity: .90;
}

.event-summary-status .btnEnabledOff {
  background-color: #CD0000;
  color: white;
  border-color: #CD0000; 
}

.event-summary-status .btnEnabledOff:hover {
  background-color: #CD0000;
  opacity: .90;
}

.event-summary-status .btnDisabled {
  background-color: #f1f1f1;
}

.new-prize-form {
  background-color: #f6f6f6;
  padding: 5px;
  margin-top: 10px;
  margin-left: 30px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.new-prize-form h3 {
  font-size: 1.8rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.new-prize-form .frm-label {
  font-size: 1.8rem;
  color: #293642;
  margin-top: 10px;
}

.new-prize-form input {
  border: solid 1px #428bca;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 2px;
  height: 28px;
}

.new-prize-form input:focus {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.new-prize-form span input {
  border: none;
}

.new-prize-form button {
  background-color:#428bca;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:130px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  margin-left: 250px;
}

.new-prize-form button:active {
  background-color:#378de5;
}

.new-prize-form button:focus {
  outline: none;
}

.event-summary-sections .section {
  width: 220px;
  margin: 10px 20px 10px 20px;
  min-height: 325px;
  background-color: #f6f6f6;
  float: left;
  padding: 5px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.event-summary-sections .section h2 {
  font-size: 1.8rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.admin-prizes-leftcol {
  width: 275px;
  float: left;
  min-height: 325px;
}

.admin-prizes-rightcol {
  width: 420px;
  float: right;
  min-height: 325px;
}

.prizes-list-wrapper {
  width: 250px;
  float: left;
  margin: 10px 20px 10px 20px;
  background-color: #f6f6f6;
  float: left;
  padding: 5px;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.prizes-list-wrapper h2 {
  font-size: 1.8rem;
  border-bottom: solid thin #81A7CF;
  color: #81A7CF;
  padding-bottom: 3px;
  margin-bottom: 10px;
  margin-left: 0;
  width: 92%;
}

.prizes-list-wrapper .btn {
  padding: 2px;
  width: 60px;
  font-size: 1.2rem;
}

.prizes-list-wrapper .selectPrize {
  background-color: #ffffff;
  border: solid 1px #81A7CF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prizes-list-wrapper .selectPrize:hover {
  background-color: #e4ecf5;
}

.prizes-list-wrapper .admin-prize-name:hover {
  cursor: pointer;
  cursor: hand;
}

.prizes-list-wrapper .admin-prize-status:hover {
  cursor: pointer;
  cursor: hand; 
}

.prizes-list-wrapper li {
  display: inline-block;
}

.admin-prize-name {
  width: 190px;
  float: left;
}

.admin-prize-status {
  width: 20px;
  float: left;
  margin-left: 10px;
}

.admin-prizes-leftcol .add-new-prize p {
  color: #3b7db5;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  text-align: right;
  margin-right: 5px;
}

.file-drop {
  width: 150px;
  height: 150px;
  margin: 10px auto 15px auto;
  text-align: center;
  padding-top: 50px;
  border: dashed 5px #428bca;
  font-weight: bold;
  color: #428bca;
}

.admin-prizes-list .disable {
  color: #e4e4e4;
}

.admin-prizes-wrapper .selected-prize {
  text-align: center;
  margin-top: 10px;
}

.admin-prizes-wrapper .selected-prize-image {
  height: 250px;
}

.admin-prizes-wrapper .selected-prize img {
  border: solid 10px #f6f6f6;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.admin-prizes-wrapper .selected-prize h2 {
  font-size: 2.4rem;
  margin: 0 0 10px 0;
  width: 100%;
}

.admin-prizes-wrapper .selected-prize p {
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  color: #428bca;
}

.admin-prizes-wrapper p.prize-edit-delete {
  text-align: right;
  font-size: 1.4rem;
}

/*USER EVENT PRIZES PAGE STYLES*/
.user-event-prizes {
  width: 280px;
  height: 360px;
  float: left;
  background-color: #f6f6f6;
  margin: 20px 26px 20px 26px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  -webkit-box-shadow: 3px 3px 9px 0px #293642;
  -moz-box-shadow: 3px 3px 9px 0px #293642;
  box-shadow: 3px 3px 9px 0px #293642;
}

.user-event-instructions {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.user-event-instructions p {
  line-height: 30px;

}

.user-event-prizes .prize-info h2 {
  color: #81A7CF;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2.2rem;
}

.user-event-prizes .prize-info p {
  color: #81A7CF;
}

span.glyphicon-arrow-up, span.glyphicon-arrow-down {
  color: #81A7CF;
}

.prize-votes {
  position: absolute;
  bottom: 20px;
}

.prize-minus-vote {
  width: 30px;
  min-height: 1px;
  margin-right: 20px;
  float: right;
  font-size: 2.0rem;
}

.prize-vote-val {
  float: left;
  width: 180px;
  color: #81A7CF;
  font-size: 2.0rem;
}

.prize-plus-vote {
  width: 30px;
  margin-left: 20px;
  float: left;
  font-size: 2.0rem;
  min-height: 1px;
}

.user-event-top-menu .user-prize-btn{
  background-color:#428bca;
  margin-left: 150px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  font-size:20px;
  font-style:normal;
  line-height:32px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
  cursor: pointer;
  cursor: hand; 
}

.user-event-top-menu .user-prize-btn:hover {
  background-color: #3b7db5;
}

.user-event-top-menu li {
  display: inline-block;
  margin: 0 15px 0 15px;
  color: #81A7CF;
}

.user-event-top-menu li.event-name {
  font-size: 2.0rem;
  margin-left: 26px;
  margin-right: 100px;
}

.user-event-top-menu .remaining-votes {
  margin-left: 30px;
}

.user-event-top-menu.ui-scrollfix{
    /*background-color: #293642;*/
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 980px;
    height: 40px;
    padding-top: 5px;
/*    -webkit-box-shadow: 3px 3px 9px 0px #293642;
    -moz-box-shadow: 3px 3px 9px 0px #293642;
    box-shadow: 3px 3px 9px 0px #293642;*/
    -webkit-box-shadow: 0px 1px 5px 3px rgba(41,54,66,0.75);
    -moz-box-shadow: 0px 1px 5px 3px rgba(41,54,66,0.75);
    box-shadow: 0px 1px 5px 3px rgba(41,54,66,0.75);
}

.user-event-top-menu .changes-recorded {
  background-color: none;
  margin-left: 150px;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  text-indent:0;
  display:inline-block;
  color: green;
  font-size:1.4rem;
  font-style:normal;
  line-height:15px;
  width:90px;
  text-decoration:none;
  text-align:center;
  text-shadow: none;
  cursor: inherit;
}

.user-event-top-menu .logout {
  display: none;
  font-size: 1.4rem;
  margin-top: 5px;
  cursor: pointer;
  cursor: hand; 
}

.user-event-top-menu.ui-scrollfix .logout{
  display: inline-block;
}

.user-event-top-menu li.warning {
  color: #A80816;
}


/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* slide in from the right */
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
