<div class="registrants-wrapper">
	<h2>Registrants for {{myEvents.eventName}}</h2>
	<div class="upload-registrants-wrapper">
		<div class="uploadRegistrants">
			<textarea ng-model="registrantEmails" style="width:300px;height:350px;resize:none;"></textarea>
			<button ng-click="uploadEmails(registrantEmails)">Upload</button>
		</div>
		<div class='uploadResults' ng-show="postUpload">
			<div class="success-uploads">
				<ul ng-repeat="successEmail in successEmails">
					<li>{{successEmail}}</li>
				</ul>
			</div>
			<div class="failed-uploads">
				<ul ng-repeat="failedEmail in failedEmails">
					<li>{{failedEmail}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='viewRegistrants'>

	</div>
</div>