<div class='user-event-no-prizes' ng-hide="multPrizes">There are currently no prizes available. Please check again soon.</div>
<div class="user-event-wrapper" ng-show="multPrizes">
	<div class="user-event-top-menu" ui-scrollfix="+50">
		<ul>
			<li class="event-name">{{eventInfo.eventName}}</li>
			<li>ID: {{userID}}</li>
			<li class="remaining-votes" ng-class="{warning: remVotes === 0}">Remaining Votes: {{remVotes}}</li>
			<li class="user-prize-btn" ng-click="submitUpdates()" ng-show="saveBtn">Save</li>
			<li class="changes-recorded" ng-hide="saveBtn">Changes Recorded</li>
			<li class="logout"  ng-click="logout()">Logout</li>
		</ul>
	</div>
	<div class="user-event-instructions">
		<!-- <h2>{{eventInfo.eventName}}</h2> -->
		<p>Below are the available prizes for your upcoming event, EVENT NAME HERE. You can place all your votes on one prize, or spread them out across multiple prizes. Click the arrows to add or remove your vote.</p>
	</div>
	<div class="user-event-prizes" ng-repeat="prize in prizes">
		<div class="prize-selection-wrapper">
			<div class="prize-info">
				<img ng-src="{{prize.prizeUrl}}" width="250px"></img>
				<h2>{{prize.prizeName}}</h2>
				<p>{{prize.prizeDescription}}</P>
			</div>
			<div class="prize-votes">
				<div class="prize-plus-vote" ng-click="addVote(prize)"><span class="glyphicon glyphicon-arrow-up" ng-hide="remVotes === 0"></span></div>
				<div class="prize-vote-val">{{prize.votes}}</div>
				<div class="prize-minus-vote" ng-click="minusVote(prize)"><span class="glyphicon glyphicon-arrow-down" ng-hide="prize.votes === 0"></span></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<div class='clear'></div>
<div class="user-event-botmenu">
	<p>Remaining votes: {{remVotes}}</p>
	<button class="user-prize-btn"  ng-click="submitUpdates()">Save</button>
</div>