<div class="admin-signup-container">
  <h2>Signup</h2>
  <p class="details">Create an admin account for your future raffle events</p>
  <div class="admin-signup-frm">
    <p class="frm-label">First Name:</p>
    <input class="form-field" type="text" name="admin-firstName" ng-model="newAdmin.firstname">
    <p class="frm-label">Last Name:</p>
    <input class="form-field" type="text" name="admin-lastName" ng-model="newAdmin.lastname">
    <p class="frm-label">Username:</p>
    <input class="form-field" type="text" name="admin-username" ng-model="newAdmin.username" ng-blur='validateUserName()'>
    {{validateMsg}}
    <p class="frm-label">Password:</p>
    <input class="form-field" type="text" name="admin-password" ng-model="newAdmin.password">
    <p class="frm-label">Repeat Password:</p>
    <input class="form-field" type="text" name="admin-password-rpt" ng-model="pwRepeat">

    <input class="submit-button" type="submit" value="Submit" ng-click="createAdmin(newAdmin)">
  </div>
</div>
